<%= stylesheet_link_tag 'index', media: "all" %>

<div class="songs-page">

  <h3 class="page-title">曲一覧</h3>


  <div class="songs-grid">
    <% @tweets.each do |t| %>
      <div class="song-card">

        <% if t.image.attached? %>
          <div class="song-image">
            <%= image_tag t.image, size: '250x200' %>
          </div>
        <% end %>

        <div class="song-info">
          <p class="song-title"><%= t.songtitle %></p>
          <p class="song-user">投稿者：<%= t.user.email %></p>
          <p class="song-jacket">ジャケット：<%= t.jacket %></p>
          <p class="song-lyrics">歌詞：<%= t.lyrics %></p>
          <p class="song-time">時間：<%= t.time %></p>
        </div>

        <div class="song-actions">
          <%= link_to "詳細", tweet_path(t.id), class: "btn detail" %>
          <%= link_to "編集", edit_tweet_path(t.id), class: "btn edit" %>
          <%= link_to "削除", tweet_path(t.id), data: { turbo_method: :delete }, class: "btn delete" %>
        </div>

      </div>
    <% end %>
  </div>

  <div class="tag-search">
    <%= form_tag({controller:"tweets",action:"index"}, method: :get) do %>
      <ul class="tag-list">
        <% Tag.all.each do |t| %>
          <li>
            <%= check_box :tag_ids, t.name %>
            <%= t.name %>
          </li>
        <% end %>
      </ul>
      <%= submit_tag '検索', class: "btn search-btn" %>
    <% end %>

    <%= form_tag({controller:"tweets",action:"index"}, method: :get, class: "add-tag-form") do %>
      <%= text_field_tag :tag, nil, placeholder: "タグ名を入力", class: "tag-input" %>
      <%= submit_tag 'タグを追加', class: "btn add-tag-btn" %>
    <% end %>
  </div>

</div>